<section class="map-section section-padding">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Our Locations</h2>
      <p class="section-subtitle">
        Visit us at one of our showrooms to experience ComfortHaven furniture
        firsthand
      </p>
    </div>

    <div class="map-container neumorph-card">
      <div class="map-locations">
        <mat-tab-group
          [(selectedIndex)]="selectedLocationIndex"
          (selectedIndexChange)="selectLocation($event)"
          animationDuration="300ms"
          class="locations-tabs"
        >
          <mat-tab *ngFor="let location of locations" [label]="location.name">
            <div class="location-details">
              <h3 class="location-name">{{ location.name }}</h3>

              <div class="location-info">
                <div class="info-item">
                  <mat-icon>location_on</mat-icon>
                  <span>{{ location.address }}</span>
                </div>

                <div class="info-item">
                  <mat-icon>phone</mat-icon>
                  <span>{{ location.phone }}</span>
                </div>

                <div class="info-item">
                  <mat-icon>access_time</mat-icon>
                  <span>{{ location.hours }}</span>
                </div>
              </div>

              <button
                mat-raised-button
                color="primary"
                class="directions-btn"
                (click)="openDirections(location)"
              >
                <mat-icon>directions</mat-icon>
                Get Directions
              </button>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>

      <div class="map-iframe">
        <iframe
          [src]="locations[selectedLocationIndex].mapUrl | safeResourceUrl"
          width="100%"
          height="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </div>
    </div>
  </div>
</section>
